<p-table #table id="datatable" [columns]="cols" [value]="rows" sortMode="multiple" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    Datatable
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>

          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rows let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{rows[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>
&nbsp;

