.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

span {
  margin: 0 auto;
  font-size: 30px;
}

.mat-list-item {
  margin: 0 auto;
}
