<div id="title">
  <span>{{this.measure}}</span>
</div>
<div class="container">
  <div class="row" style="display: flex; justify-content: center; align-items: center;">
    <app-ngx-charts-gauge [measure]="this.measure"></app-ngx-charts-gauge>
  </div>
  <div class="row" style="display: flex; justify-content: center; align-items: center;">
    <app-ngx-charts-line-chart [measure]="this.measure"></app-ngx-charts-line-chart>
  </div>
  <div class="row" style="display: flex; justify-content: center; align-items: center;">
      <app-ngx-charts-heat-map [measure]="this.measure"></app-ngx-charts-heat-map>
  </div>
</div>
