<app-filters-panel [measure]="this.measure" [docDefinition]="this.docDefinition()"></app-filters-panel>
<div id="title">
  <span>Wellness</span>
</div>
<div class="container">
  <div class="row" id="outer">
    <form class="example-form" id="inner">
      <mat-form-field class="example-full-width">
        <mat-label>How well are you?</mat-label>
        <input matInput placeholder="/20">
      </mat-form-field>
      &nbsp;
      <mat-form-field style="width: 20vw; margin-left:2em;"class="example-full-width">
        <mat-label>Leave you feelings</mat-label>
        <input matInput placeholder="I'm feeling ...">
      </mat-form-field>
    </form>
    &nbsp;
    <div class="class-button" id="inner">
      <button mat-raised-button color="primary" style="margin-top: 1em; font-size: 1em; margin-left:2em;" >Enter</button>
    </div>
  </div>
  &nbsp;
  <div class="row" style="display: flex; justify-content: center; align-items: center;">
    <app-ngx-charts-gauge [measure]="this.measure"></app-ngx-charts-gauge>
  </div>
  <div class="row" style="display: flex; justify-content: center; align-items: center;">
    <app-ngx-charts-line-chart id="lineChart" [measure]="this.measure"></app-ngx-charts-line-chart>
  </div>
  <div>
    <app-datatable [measure]="this.measure"></app-datatable>
  </div>
</div>
