#title {
  margin: auto;
  font-size: 40px;
  text-align: center;
  height: 200px;
  line-height: 200px;
}

#buttons {
  font-size: 20px;
  display: table;
  margin: 0 auto;
}

#inner {
  font-size: 20px;
}

#outer {
  width:100%;
  display: flex;
  justify-content: center;
}

.class-submited {
  text-align: center;
  margin: auto;
  font-size: 28px;
  color: rgb(18, 168, 93);
}
