<app-filters-panel [measure]="this.measure" [docDefinition]="this.docDefinition()"></app-filters-panel>
<div id="title">
  <span>Wellness</span>
</div>
<div class="container">
  <div class="row" style="display: flex; justify-content: center; align-items: center;">
    <app-ngx-charts-gauge [measure]="this.measure"></app-ngx-charts-gauge>
  </div>
  <div class="row" style="display: flex; justify-content: center; align-items: center;">
    <app-ngx-charts-line-chart id="lineChart" [measure]="this.measure"></app-ngx-charts-line-chart>
  </div>
  <div>
    <app-datatable [measure]="this.measure"></app-datatable>
  </div>
</div>
